.AllBooks_container_dark {
  display: flex;
  color: white;
  background: rgb(2, 1, 24);
  padding: 20px 20px;
}

.AllBooks_container_light {
  display: flex;
  color: rgb(0, 0, 0);
  background: #bdbdbd;
  padding: 20px 20px;
}

.light {
  .books_title_p {
    color: rgb(58, 54, 54);
  }
  p {
    color: rgb(58, 54, 54);
  }
}

.book_detail-container {
  ul {
    display: flex;
    margin-top: 10px;

    li {
      p {
        font-size: 20px;
        color: rgb(214, 151, 151);
      }
    }
  }

  .book_author-name {
    margin-top: 3px;
  }
}

.book_detail-pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  button {
    border: 1px solid red;
    padding: 5px 10px;
    cursor: pointer;
    background: skyblue;
  }
}
