.Header_container_dark {
  padding-top: 15px;
  padding-left: 20px;
  background: rgb(2, 1, 24);
  svg {
    margin-top: 6px;
    margin-left: 6px;
  }
  .sun_svg {
    color: yellow;
  }
}

.Header_container_light {
  padding-top: 15px;
  padding-left: 20px;
  background: #bdbdbd;
  margin-bottom: 10px;
  margin-left: 5px;
  svg {
    margin-top: 6px;
    margin-left: 6px;
  }
  .sun_svg {
    color: yellow;
  }
}
